@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body, html {
    font-family: "Ubuntu", arial, sans-serif;
    color: #252525;
}

a {
    color: black;
    text-decoration: underline;
}

.serif {
    font-family: "PT Serif", serif;
}

main.view {
  margin-top: 12px;
  height: 100%;

  & > :first-child {
    min-height: 100%;
  }
}

.view {
    width: 1200px;
    margin: auto;
}

h3 {
    font-family: "PT Serif", serif;
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 0px;
}

h4 {
    margin-bottom: 0px;
    margin-top: 40px;
}

h5 {
    font-weight: normal;
    color: #777;
    font-size: 14px;
    margin-top: 0px;
}

p {
    margin: 10px 0px 20px 0px;
    font-weight: 400;
    letter-spacing: 0.1px;
    font-size: 16px;
    line-height: 26px;
}

ul {
    li {
        margin-bottom: 8px;
    }
}
