@import "./const.less";

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: @background;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  color: @textColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#preact_root {
  height: 100%;
  display: flex;
  flex-direction: column;

  #app-body {
    flex-basis: 100%;
  }
}
