.todo-card {
  background-color: white;
  padding: 12px;
  margin: 32px 0px;
  box-shadow: 0px 5px 24px 0px rgba(51,51,51,0.47);
  border-radius: 8px;
  transition: all .2s ease-in-out;

  h3 {
    margin-top: 0;
  }

  &:hover {
    transform: scale(1.05);
  }
}
