button {
    background: #333;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    border: none;
    transition: background 0.1s;

    &:hover {
        background: #555;
    }

    &:active {
        background: black;
    }

    &:disabled {
        background: #BBB;
        color: #EEE;
        cursor: not-allowed;
    }
}