header {
  background: white;
  height: 60px;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #ECECEC;

  .site-name {
      font-size: 24px;
      letter-spacing: 6px;
      text-transform: uppercase;
      flex-grow: 1;

      a {
          color: #111;
          text-decoration: none;
      }
  }

  nav {
      a {
          margin-right: 30px;
          text-decoration: none;
          color: #333;
          text-transform: uppercase;
          font-size: 14px;
          letter-spacing: 2px;
          font-weight: 400;
          vertical-align: middle;
          transition: color 0.1s;

          &:hover {
              color: #555;
          }

          &:active {
              color: black;
          }
      }

      .nav-profile-pic-link {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          margin-left: 15px;
          padding-left: 15px;
          border-left: 1px solid #CCC;

          img {
              width: 32px;
              height: 32px;
              border-radius: 50%;
              margin-right: 12px; 
          }
      }

      .nav-user-box {
          .header-balance-total {
              font-size: 12px;
              margin-top: 2px;
          }
      }

      button {
        letter-spacing: 2px;
        margin-left: 0;
      }
  }

  .view {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;;
  }
}
